img{
  display: block;
  margin: auto;
}

#text_answer{
  height: 5%;
  width:10%;
}

#submit{
  /*height: 10%;
  width:5%;*/
  background-color: bisque;
  background-color: tomato;     
  margin-left:45%;  
  color: black;
  font-family: verdana, Times New Roman;
}

#continue{
  background-color: cornsilk;
  font-family: verdana, Times New Roman;
}

#start{
  /*height: 10%;
  width:5%;*/
  background-color: coral;
  font-family: verdana, Times New Roman;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:salmon; 
  text-align:center;
}

li {
    float: left;
  text-align:center
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
  
  background-color:peachpuff;
}

.active {
   
  background-color: papayawhip;
  color: black;
}*/









