img{
  display: block;
  margin: auto;
}

#text_answer{
  height: 5%;
  width:10%;
}

#submit{
  /*height: 10%;
  width:5%;*/
  background-color: bisque;
  background-color: tomato;     
  margin-left:45%;  
  color: black;
  font-family: verdana, Times New Roman;
}

#continue{
  background-color: cornsilk;
  font-family: verdana, Times New Roman;
}

#start{
  /*height: 10%;
  width:5%;*/
  background-color: coral;
  font-family: verdana, Times New Roman;
}






/*body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
 
}*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:peachpuff; /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /*background-color: #111;*/
  background-color:peachpuff;
}

.active {
    /*background-color: #4CAF50;*/
  background-color: papayawhip;
}










