img{
  display: block;
  margin: auto;
}

#text_answer{
  height: 5%;
  width:10%;
}

#submit{
  /*height: 10%;
  width:5%;*/
  background-color: bisque;
  background-color: tomato;     
  margin-left:45%;  
  color: black;
  font-family: verdana, Times New Roman;
}

#start{
  /*height: 10%;
  width:5%;*/
  background-color: coral;
};







