h1 {
    text-align:center;
    margin-top:1.5em;
}

#Science {    
    background-color: #FF7F50;
    height:30%;
    width:50%;
    position:relative;
    margin-top:0%;    
    margin-bottom:10%;
    margin-left:40%;
    clear:both;
    border:4px solid black;
}

#Math {
    background-color:pink;
    height:30%;
    width:50% ;
    position:relative;
    /*margin-top:0em;
    margin-bottom:1em;
    margin-left:20em;*/
    clear:both;
    border:4px solid black;
}

#Vocabulary{
    background-color:yellow;
    height:30%;
    width:50%;
    position:relative;
    /* margin-top:0em;
    margin-bottom:1em;
    margin-left:20em;*/
    clear:both;
    border:4px solid black;
}

.levels{
    display:inline-block;
    position:relative;
    float:left;
    border:4px solid black;
    height:7%;
    width:9%;
    background-color:white;
    /*margin-top:-5em;
    margin-left:3em;*/
}

.name_levels{
    margin-top:1em;
    text-align:center;
    font-size:1.50em;
}

.name_levels:link{
    color:black;
}

.name_levels:visited{
    color:mediumslateblue;
    text-decoration:underline;
}

.name_levels:hover{
    color:gray;
};

img{
    position:absolute;
    height:300px;
    width:350px;
    margin-left:100px;
    margin-top:30px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

  
