h1 {
    text-align:center;
    margin-top:150%;
}

#Science {    
    background-color: #FF7F50;
    height:1500%;
    width:50%;
    margin-top:0%;    
    margin-bottom:100%;
    margin-left:2000%;
    clear:both;
    border:4px solid black;
    position:fixed;
}

#Math {
    background-color:pink;
    height:1500%;
    width:50%;
    margin-top:0%;
    margin-bottom:100%;
    margin-left:2000%;
    clear:both;
    border:4px solid black;
    position:fixed;
}

#Vocabulary{
    background-color:yellow;
    height:1500%;
    width:50%;
    margin-top:0%;
    margin-bottom:100%;
    margin-left:2000%;
    clear:both;
    border:4px solid black;
    position:fixed;
}

.levels{
    display:inline-block;
    border:4px solid black;
    height:700%;
    width:900%;
    background-color:white;
    margin-top:-500%;
    margin-left:300%;
    position:fixed;
}
    
.name_levels{
    margin-top:100%;
    text-align:center;
    font-size:150%;
}

.name_levels:link{
    color:black;
}

.name_levels:visited{
    color:mediumslateblue;
    text-decoration:underline;
}

.name_levels:hover{
    color:gray;
};

img{
    position:absolute;
    height:300px;
    width:350px;
    margin-left:100px;
    margin-top:30px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

  
