.question{
  font-size:130%;
  font-family: verdana, Times New Roman;  
  text-align:center;
}

h1 {
    text-align:center;
    margin-top:2%;
}

form{
  margin-left:40%;
  font-size:115%;
}

.submit{    
    background-color: tomato;     
    margin-left:45%;  
    color: white;
}

#NotSubmit{
  color:red;
  font-style:italic;  
}

.notify{
  color:red;
  font-size:100%;  
};





