h1 {
    text-align:center;
    margin-top:1.5em;
}

.vocablevels{
    height: 15%;
    width: 25%;    
    margin-top: 45%;
    background-color: crimson;
    display:inline-block;
    position:relative;
    float:left;      
    margin-left:10%;
}

.vocab_name_levels{
    font-size:150%;    
    position:relative;    
    vertical-align:middle;
    text-align:center;
    
}
    

    
