h1 {
    text-align:center;
    margin-top:1.5em;
}

.vocablevels{
    height: 15%;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: crimson;
}

.vocab_name_levels{
    font-size:20px;
    text-align:center;
}
    

    
